.carousel 
    position: relative

.carousel-control 
    position: absolute
    top: 365px
    display: flex
    width: 100%
    justify-content: space-between

.carousel-img 
    width: 100%
    position: relative
    z-index: -1

.btn-carousel 
    background: rgba(42, 42, 42, 0.15)
    padding: 12px 17px
    display: flex
    justify-content: center
    align-items: center

.prod-desc 
    margin-top: -60px


.prod-desc-wrap 
    box-sizing: border-box
    border: 1px solid #EAEAEA
    background-color: #fff
    padding: 65px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.light-heading
    @include txt(300, 14px, 17px, $pink, none)

.bold-hr 
    height: 3px
    width: 69px
    color: #EF5B70
    background-color: #EF5B70
    border: none
    margin: 12px 0

.big-heading
    @include txt(300, 18px, 22px, #4D4D4D, none)
    margin-bottom: 48px

.prod-desc-txt
    @include txt(300, 14px, 17px, #5E5E5E, none)
    text-align: center
    max-width: 555px
    margin-bottom: 32px

.prod-desc-price
    @include txt(300, 24px, 29px, #EF5B70, none)
    margin-bottom: 65px

.light-hr
    height: 2px
    width: 641px
    background-color: #EAEAEA
    border: none

.set-wrap
    display: flex
    margin-top: 65px

.set-item 
    display: flex
    justify-content: center
    align-items: center
    line-height: 17px
    color: #6F6E6E
    text-decoration: none
    margin-right: 22px

.arrow 
    border: solid #6F6E6E
    border-width: 0 2px 2px 0
    display: inline-block
    padding: 3px
    margin-left: 9px
    margin-top: -3px

.down 
    transform: rotate(45deg)
    -webkit-transform: rotate(45deg)

.light-btn 
    display: flex
    justify-content: center
    align-items: center
    padding: 8px 33px 8px 23px
    border: 1px solid #FF6A6A
    @include txt(400, 16px, 19px, #EF5B70, none)
    text-decoration: none
    margin-top: 48px

.light-btn > img 
    margin-right: 17px


.margin-top-129 
    margin-top: 129px
